@using Repository.Model

@for (int i = 0; i < 4; i++)
{
    <div class="col">
        @if (i < Goods.Count)
        {
            <div class="col">
                <a href="/ProductDetail/@Goods[i].GoodId">
                    <div class="card" style="width = 75%">
                        <img src="./image/pexels-anna-tukhfatullina-food-photographerstylist-2638019.jpg" style="width: 100%; height: 100%" alt="Alternate Text" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">@Goods[i].Name</h5>
                            <p class="card-text">Price: @Goods[i].Price</p>
                        </div>
                    </div>
                </a>
            </div>
        }
        else
        {
            <div></div>
        }
    </div>
    
}

@code {
    [Parameter]
    public List<Good> Goods { get; set; }
}
