<nav class="header__navbar">
    <ul class="header__navbar-list">
        <li class="header__navbar-item header__navbar-item-separate">
            <a href="gioiThieu.html" class="header__navbar-item-link">Giới thiệu</a>
        </li>
        <li class="header__navbar-item">: <a href="tel:+84 123456789">+84763767139</a></li>
    </ul>

    <ul class="header__navbar-list">
        <li class="header__navbar-item">
            <a href="hoTro.html" class="header__navbar-item-link">
                <i class="header__navbar-icon fa-regular fa-circle-question"></i>
                Hỗ trợ
            </a>
        </li>
    </ul>
</nav>

<div class="header-with-search">
    <div class="header__logo">
        <a href="/" class="header__logo-link">
            <img src="./Assets/Img/logo.png" alt="Ảnh logo" class="header__logo-img">
        </a>
    </div>

    <div class="header__search">
        <div class="header__search-input-wrap">
            <form class="input-search" method="get" action="index.html">
                <div class="autocomplete">
                    <input id="search-box" name="search" type="text" class="header__search-input" autocomplete="off" placeholder="Bạn tìm gì ở Lovell Garden❤️❤️❤️">
                    <button type="submit" class="header__search-btn">
                        <i class="fa fa-search header__search-btn-icon"></i>
                    </button>
                </div>
            </form>

            <!-- Search History -->
            <div class="header__search-history">
                <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                <ul class="header__search-history-list">
                    <li class="header__search-history-item">
                        <a href="">Cây Tùng Bách</a>
                    </li>
                    <li class="header__search-history-item">
                        <a href="">Cây vạn tuế</a>
                    </li>
                    <li class="header__search-history-item">
                        <a href="">Cây trúc quân tử</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header__cart">
        <a href="/Cart" class="header__cart-link">
            <div class="header__cart-wrap">
                <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                <p class="header-cart__icon-label">Giỏ hàng</p>
            </div>
        </a>
    </div>
    <div class="header__festival">
        <a href="trienLam.html" class="header__festival-wrap">
            <i class="header__festival-icon fa-solid fa-tree"></i>
            <p class="header-festival__icon-label">Triển lãm</p>
        </a>
    </div>
</div>